<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Mocha</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/mocha/mocha.css" />
    <script src="/bower_components/mocha/mocha.js"></script>
    <script src="/bower_components/chai/chai.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script>
      // Don't use MessageChannel in phantom
      if (window._phantom) {
        window.MessageChannel = undefined;
      }
    </script>
    <script src="/compiled/<%= pkg.name %>.js"></script>
  </head>
  <body>
    <div id="mocha"></div>
  </body>
  <script>
    window.query = JSON.parse( '<%= query %>' );
    window.expect = chai.expect;
    mocha.setup( 'bdd' );
    mocha.reporter( 'html' );
  </script>
  <script src="<%= test_src %>"></script>
  <script>mocha.run();</script>
</html>
